{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}{% if faq_answer %}Edit{% else %}Add{% endif %} FAQ{% endblock %}

{% block body %}
    <div class="loader" style="position: fixed; text-align: center; padding-top: 15%; z-index: 10; background: rgba(0,0,0,.3); top: 0; left: 0; right: 0; bottom: 0;">
        <div class="spinner-border"></div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 p-3 mx-auto mt-2">
				<div>
                    <div class="d-flex">
                        <div class="text-center">
                            <h1 class="h3 mb-3 font-weight-normal">{% if faq_answer %}Edit{% else %}Add New{% endif %} FAQ</h1>
                        </div>
                        <div class="ml-auto">
                            {% if faq_answer %}
                                <button class="btn btn-danger" id="delete-faq-btn">Delete FAQ</button>
                            {% endif %}
                        </div>
                    </div>
                    
					<form method="post" action="{{ path('sa_faq_action') }}" class="form" id="add-faq-form">
						<div class="form-group">
							<label for="question">Write Question</label>
							<input type="text" value="{% if faq_answer %}{{ faq_answer.question }}{% endif %}" name="question" id="question" class="form-control" required autofocus>
						</div>

						<div class="form-group">
							<label for="answer">Write Answer</label>
							<textarea class="form-control" name="answer" id="answer" rows="5" style="">{% if faq_answer %}{{ faq_answer.answer }}{% endif %}</textarea>
						</div>

						<div class="form-group">
							<button class="btn btn-success" type="submit" id="save-faq-btn">Save FAQ</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.tiny.cloud/1/fmdnfpur7pmjbdyb0kqo55ksuu5tekdv245b5xlt4d1hee2x/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $(document).ready(function(){
            setTimeout(() => {
            $(".loader").hide();
            }, 500);
        })

        var answer_ = tinymce.init({
            selector:'textarea',
            height: 400,
            // theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount image codesample'
            ],
            menubar: false,
            toolbar: 'undo redo | fontsizeselect formatselect | bold italic underline strikethrough backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table link | removeformat | image | code | codesample ',
        });

        $("#save-faq-btn").on("click", function (e) {
            e.preventDefault();
            var form_data = $("#add-faq-form").serializeArray();
            form_data_json = {};

            $.map(form_data, function(n, i){
                form_data_json[n['name']] = n['value'];
            });

            var answer = tinymce.activeEditor.getContent();
            form_data_json.answer = answer;

            console.log(form_data_json)

            $.ajax({
                url: '{{ path("sa_faq_action", {'id': app.request.get('id')}) }}',
                type: 'POST',
                data: form_data_json,
                success: (data) => {
                    data = JSON.parse(data);
                    console.log(data)
                    if(typeof data.err !== 'undefined') {
                        confirm(data.err);
                    }
                    else if(typeof data.notice !== 'undefined') {
                        alert(data.notice);
                        window.location.href = '{{ path("sa_faqs") }}';
                    }
                },
                error: (xhr, data)=> {
                    console.log(xhr)
                },
                complete: (data)=> {

                }
            })
        })
    </script>
    {% if app.request.get('id') %}
        <script>
            $("#delete-faq-btn").on('click', function () {
                let is_confirmed = confirm('are you sure you want to delete this question');

                if(is_confirmed) {
                    $.ajax({
                        url: '{{ path("sa_faq_delete", {'id': app.request.get('id')}) }}',
                        type: 'POST',
                        success: (data) => {
                            data = JSON.parse(data);
                            console.log(data)
                            if(typeof data.err !== 'undefined') {
                                confirm(data.err);
                            }
                            else if(typeof data.notice !== 'undefined') {
                                alert(data.notice);
                                window.location.href = '{{ path("sa_faqs") }}';
                            }
                        },
                        error: (xhr, data)=> {

                        },
                        complete: (data)=> {

                        }
                    })
                }
            })
        </script>
    {% endif %}
{% endblock %}

