{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}{% if notification %}Edit{% else %}Add{% endif %} Notification{% endblock %}

{% block body %}
    <div class="loader" style="position: fixed; text-align: center; padding-top: 15%; z-index: 10; background: rgba(0,0,0,.3); top: 0; left: 0; right: 0; bottom: 0; display: none;">
        <div class="spinner-border"></div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 p-3 mx-auto mt-2">
				<div>
                    <div class="d-flex">
                        <div class="text-center">
                            <h1 class="h3 mb-3 font-weight-normal">{% if notification %}Edit{% else %}Add New{% endif %} Notification</h1>
                        </div>
                        <div class="ml-auto">
                            {% if notification %}
                                <button class="btn btn-danger" id="delete-notification-btn">Delete Notification</button>
                            {% endif %}
                        </div>
                    </div>
                    
					<form method="post" action="{{ path('sa_app_notification_action') }}" class="form" id="notification-form">
						<div class="form-group">
							<label for="heading">Heading (For our use)</label>
							<input type="text" value="{% if notification %}{{ notification.heading }}{% endif %}" name="heading" id="heading" class="form-control" required autofocus>
						</div>

                        <div class="form-group">
							<label for="title">Banner Title</label>
							<input type="text" value="{% if notification %}{{ notification.title }}{% endif %}" name="title" id="title" class="form-control">
						</div>

						<div class="form-group">
							<label for="answer">Banner Content</label>
							<textarea class="form-control" name="content" id="content" rows="5" style="">{% if notification %}{{ notification.content }}{% endif %}</textarea>
						</div>

                        <div class="form-check">
							<label class="form-check-label" for="is_active"><input type="checkbox" {% if notification and notification.is_active %}checked{% endif %} name="is_active" id="is_active" class="form-check-input" required> Notification Active</label>
						</div>

                        <div class="form-group">
							<label for="answer">Banner Type</label>
							<select class="form-control" name="type" id="banner-type">
                                <option value="">Default</option>
                                <option value="1" {% if notification and notification.type == 1 %}selected{% endif %}>Info</option>
                                <option value="2" {% if notification and notification.type == 2 %}selected{% endif %}>Warning</option>
                                <option value="3" {% if notification and notification.type == 3 %}selected{% endif %}>Success</option>
                                <option value="4" {% if notification and notification.type == 4 %}selected{% endif %}>Critical</option>
                            </select>
						</div>

                        <div class="row">
                            {% set action = notification.actions %}
                            <div class="col">
                                <div class="form-group">
                                    <label for="action-content">Action content</label>
                                    <input type="text" value="{% if action %}{{ action.content }}{% endif %}" name="action[content]" id="action-content" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="action-url">Action url</label>
                                    <input type="text" value="{% if action %}{{ action.url }}{% endif %}" name="action[url]" id="action-url" class="form-control">
                                </div>
                            </div>
                        </div>

						<div class="form-group">
							<button class="btn btn-success" type="submit" id="save-btn">Save Notification</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            setTimeout(() => {
            $(".loader").hide();
            }, 500);
        })

        $("#save-btn").on("click", function (e) {
            e.preventDefault();
            var form_data = $("#notification-form").serializeArray();
            form_data_json = {};

            $.map(form_data, function(n, i){
                form_data_json[n['name']] = n['value'];
            });

            console.log(form_data_json)
            {# return; #}
            
            $.ajax({
                url: '{{ path("sa_app_notification_action", {'id': app.request.get('id')}) }}',
                type: 'POST',
                data: form_data_json,
                success: (data) => {
                    data = JSON.parse(data);
                    console.log(data)
                    if(typeof data.err !== 'undefined') {
                        confirm(data.err);
                    }
                    else if(typeof data.notice !== 'undefined') {
                        alert(data.notice);
                        window.location.href = '{{ path("sa_app_notifications") }}';
                    }
                },
                error: (xhr, data)=> {
                    console.log(xhr)
                    if(xhr.status === 404) {
                        alert(xhr.responseText)
                        window.location.href = '{{ path("sa_app_notifications") }}';
                    }
                },
                complete: (data)=> {

                },
            })
        })
    </script>
    {% if app.request.get('id') %}
        <script>
            $("#delete-notification-btn").on('click', function () {
                let is_confirmed = confirm('are you sure you want to delete this notification');

                if(is_confirmed) {
                    $.ajax({
                        url: '{{ path("sa_notification_delete", {'id': app.request.get('id')}) }}',
                        type: 'POST',
                        success: (data) => {
                            data = JSON.parse(data);
                            console.log(data)
                            if(typeof data.err !== 'undefined') {
                                confirm(data.err);
                            }
                            else if(typeof data.notice !== 'undefined') {
                                alert(data.notice);
                                window.location.href = '{{ path("sa_app_notifications") }}';
                            }
                        },
                        error: (xhr, data)=> {
                            if(xhr.status === 404) {
                                window.location.href = '{{ path("sa_app_notifications") }}';
                            }
                        },
                        complete: (data)=> {

                        }
                    })
                }
            })
        </script>
    {% endif %}
{% endblock %}

