{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}App Notifications{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mx-auto mt-2">
                <div class="d-flex">
                    <div class="text-center">
                        <h1>App Notifications</h1>
                    </div>
                    <div class="ml-auto">
                        <a class="nav-link" href="notifications/new"><button class="btn btn-primary">New Notification</button></a>
                    </div>
                </div>
                <div>
                   <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Heading</th>
                                <th class="text-right">Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notification in notifications  %}
                            <tr>
                                <td width="50px">{{ notification.id }}</td>
                                <td><a class="" href="{{ path('sa_app_notification', {'id': notification.id}) }}">{{ notification.heading }}</a></td>
                                <td class="text-right">{% if notification.is_active == 1 %}<span class="badge badge-success">Active</span>{% else %}<span class="badge badge-secondary">Disable</span>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}