{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}Customer Queries{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mx-auto mt-2">
                <div class="d-flex mb-3">
                    <div class="text-center">
                        <h1>Customer Queries</h1>
                    </div>
                </div>
                <div>
                   <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Status</th>
                                <th>Created At (UST)</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for query in customer_queries  %}
                            <tr>
                                <td>{{ query.id }}</td>
                                <td>{{ query.name|capitalize }}</td>
                                <td>{{ query.email }}</td>
                                <td>{{ query.subject }}</td>
                                <td>
                                    {% if query.status == 1 %}
                                        <span class="badge badge-success">Answered</span>
                                    {% elseif query.status == 2 %}
                                        <span class="badge badge-secondary">Closed</span>
                                    {% elseif query.status == 3 %}
                                        <span class="badge badge-danger">Rejected</span>
                                    {% else %}
                                        <span class="badge badge-primary">Open</span>
                                    {% endif %}
                                </td>
                                <td>{{ query.created_at|format_datetime() }}</td>
                                <td class="text-right">
                                    <a class="" href="{{ path('sa_customer_query', {'id': query.id}) }}">View</a>
                                </td>
                            </tr>
                            {% else %}
                                <tr class="bg-danger text-light"><td colspan="7">No Queries.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}