{% extends 'super_admin/super_admin_base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mx-auto border border-light rounded mt-2">
                <div class="text-center mb-3">
                    <h1>Dashboard</h1>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a href="{{ path('sa_faqs') }}" class="nav-link">
                            <div class='dashboard-link bg-info'>Faq's</div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('sa_shops') }}" class="nav-link">
                            <div class='dashboard-link bg-primary h4'>Shops <span class="badge badge-success">{{ count_active_shops }}</span></div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('sa_app_notifications') }}" class="nav-link">
                            <div class='dashboard-link bg-success h4'>App Notifications</div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="{{ path('sa_customer_queries') }}" class="nav-link">
                            <div class='dashboard-link bg-warning h4'>
                                Customer Queries <span class="badge badge-success">{{ count_customer_queries }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}