{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}List of FAQ's{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mx-auto mt-2">
                <div class="d-flex">
                    <div class="text-center">
                        <h1>FAQ's</h1>
                    </div>
                    <div class="ml-auto">
                        <a class="nav-link" href="{{ path('sa_faq') }}"><button class="btn btn-primary">Add FAQ</button></a>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Question</th>
                                <th class="text-right">Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for faq_answer in faq_answers  %}
                            <tr>
                                <td width="50px">{{ faq_answer.id }}</td>
                                <td><a class="" href="{{ path('sa_faq', {'id': faq_answer.id}) }}">{{ faq_answer.question }}</a></td>
                                <td class="text-right">{% if faq_answer.active == 1 %}<span class="badge badge-success">Active</span>{% else %}<span class="badge badge-secondary">Disable</span>{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}