{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}{{ shop.myshopify_domain }} - {{ shop.id }}{% endblock %}

{% block notifications %}
    <div class="notification" id="notification">
        <div class="alert alert-success alert-dismissible fade" role="alert" id="success-notify">
            <strong>SUCCESS! </strong>
            <span class="alert-text"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="progress notify-progress" style="height: 2px;">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
        </div>
        <div class="alert alert-danger alert-dismissible fade" role="alert" id="error-notify">
            <strong>ERROR! </strong>
            <span class="alert-text"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="progress notify-progress" style="height: 2px;">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
	<div class="container">
        <div class="modal" tabindex="-1" id="confirm-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm action?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="confirm-action-btn">
                            <span>Continue</span>
                            <span class="d-none"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12 p-3 mx-auto mt-2">
				<div>
                    <div class="d-flex border-bottom mb-4">
                        <div class="">
                            <div class="d-flex align-items-center">
                                <a class="btn btn-link btn-sm" href="{{ path('sa_shops') }}">&lt;&lt; Back</a>
                                <h3 class="font-weight-normal mx-2 text-secondary text-underline">{{ shop.myshopify_domain }}</h3>
                                <span class="d-block h3 px-2">#{{ shop.id }}</span>
                                {% if shop.status == 2 %}
                                    <span class="badge badge-success">Active</span>
                                {% elseif shop.status == 1 %}
                                    <span class="badge badge-warning">Pending</span>
                                {% else %}
                                    <span class="badge badge-secondary">Uninstalled</span>
                                {% endif %}
                            </div>
                            <div><span class="text-secondary">{{ shop.date_add|format_datetime() }}</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-5">
                                <h3 class="mb-3">Shop Details</h3>
                                <table class="table table-hover table-striped" id="shop-table">
                                    <tbody>
                                        <tr>
                                            <th>Merchant Id</th>
                                            <td>{{ shop.merchant_id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Myshopify Domain</th>
                                            <td>{{ shop.myshopify_domain }}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact Email</th>
                                            <td>{{ shop.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Live Domain</th>
                                            <td><a href="https://{{ shop.domain }}" target="_blank">{{ shop.domain }}</a></td>
                                        </tr>
                                        <tr>
                                            <th>Count Script Tags</th>
                                            <td>{{ shop.count_script_tags }}</td>
                                        </tr>
                                        {% if shop.count_script_tags > 1 %}
                                            <tr>
                                                <th colspan="2">All Script Tags</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div>
                                                        {% for script_tag in shop.script_tags %}
                                                            <div class="border-bottom py-1"><b>{{ script_tag.id }}</b> - {{ script_tag.created_at }} - {% if not loop.last %}<a class="c-pointer single-action text-danger" data-id="{{ script_tag.id }}" data-action="delete" data-for="delete_script_tag">Delete</a> - {% endif %} {{ script_tag.src }} - </div>
                                                        {% endfor %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <h3 class="mb-3">Front Configurations</h3>
                                <table class="table table-hover table-striped" id="shop-table">
                                    <tbody>
                                        <tr>
                                            <th class="text-capitalize">Return Page</th>
                                            <td class="{% if shop.return_page_created %}text-success{% else %}text-danger{% endif %}">{% if shop.return_page_created %} {% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="text-capitalize">Return page template</th>
                                            <td class="{% if shop.return_page_template_created %}text-success{% else %}text-danger{% endif %}">{% if shop.return_page_template_created %}{% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td><a class="c-pointer single-action" data-action="create" data-for="return_page_template">Create</a></td>
                                        </tr>
                                        <tr>
                                            <th class="text-capitalize">Style snippet</th>
                                            <td class="{% if shop.style_snippet_created %}text-success{% else %}text-danger{% endif %}">{% if shop.style_snippet_created %}{% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td><a class="c-pointer single-action" data-action="create" data-for="style_snippet">Create</a></td>
                                        </tr>
                                        <tr>
                                            <th class="text-capitalize">Script tag</th>
                                            <td class="{% if shop.script_tag_created %}text-success{% else %}text-danger{% endif %}">{% if shop.script_tag_created %}{% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td>{% if not shop.count_script_tags %}<a class="c-pointer single-action" data-action="create" data-for="script_tag">Create</a>{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-capitalize">Return Center Page</th>
                                            <td class="{% if shop.return_center_page_created %}text-success{% else %}text-danger{% endif %}">{% if shop.return_center_page_created %} {% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th class="text-capitalize">Return Center Page Template</th>
                                            <td class="{% if shop.return_center_page_template_created %}text-success{% else %}text-danger{% endif %}">{% if shop.return_center_page_template_created %}{% include 'super_admin/svg/patch-check.svg' %} Created{% else %}{% include 'super_admin/svg/x-circle.svg' %} Not Created{% endif %}</td>
                                            <td><a class="c-pointer single-action" data-action="create" data-for="return_center_page_template">Create</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-5">
                                <h3 class="mb-3">Registered webhooks <span class="badge badge-primary">3</span></h3>
                                <table class="table table-hover table-striped" id="shop-table">
                                    <tbody>
                                        {% for webhook in webhooks %}
                                            <tr>
                                                <th>{{ webhook.topic }}</th>
                                                <td>{{ webhook.address }}</td>
                                            </tr>
                                        {% else %}
                                            <tr><td colspan="2" class="bg-danger text-light">No Webhooks Found.</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </div>
    <script>
        const shopId = {{ shop.id }};

        $(document).ready(function(){
            $(".single-action").on("click", function(){
                const actionFor = $(this).data('for')
                const id = $(this).data('id')
                let actionType = $(this).data('action')
                actionName = actionFor.replaceAll('_', ' ')

                actionType = actionType === 'delete' ? '' : actionType;

                $("#confirm-modal").find(".modal-body").html("are you sure you want to " + actionType + (" <b>"+actionName+"</b>") + ".");
                $("#confirm-modal").find('#confirm-action-btn').attr('data-for', actionFor).attr('data-id', id)
                $("#confirm-modal").modal("show")
            })

            $("body").on("click", '#confirm-action-btn', (e)=> {
                const activator = $(this)
                e.preventDefault();
                const actionFor = $('#confirm-action-btn').attr('data-for')
                const id = $('#confirm-action-btn').attr('data-id')

                activator.find('span').toggleClass('d-none')
                $(this).find('#confirm-action-btn').addClass('disabled').attr('disabled', 'disabled')

                $.ajax({
                    url: '{{ path("shop_actions") }}',
                    type: 'POST',
                    data: {'user_id': shopId, 'action_type': actionFor, id},
                    success: (data) => {
                        const returnData = data.data || [];
                        if(typeof data.err !== 'undefined') {
                            errorMsg(data.err);
                        }
                        else if(typeof data.notice !== 'undefined') {
                            successMsg(data.notice);
                        }
                    },
                    error: (xhr, data)=> {
                        console.log(xhr)
                    },
                    complete: (data)=> {
                        activator.find('span').toggleClass('d-none')
                        $("#confirm-modal").modal('hide')
                    }
                })
            })

            const successMsg = (msg) => {
                $("#success-notify").toggleClass('fade show').find('.alert-text').html(msg)
                notifyTimer()
            }

            const errorMsg = (msg) => {
                $("#error-notify").toggleClass('fade show').find('.alert-text').html(msg)
                notifyTimer()
            }

            const notifyTimer = () => {
                setTimeout(()=> {
                    $("#success-notify, #error-notify").addClass('fade').removeClass('show').find('.alert-text').html('')
                }, 3000);

                $(".progress-bar").animate({
                    width: "0%",
                }, 3000, function() {
                    $(".progress-bar").css("width", '100%')
                });
            }

            $('.alert').on('click', 'button[data-dismiss="alert"]', function (e) {
                $("#success-notify, #error-notify").addClass('fade').removeClass('show').find('.alert-text').html('')
                return false
            })

            $("#confirm-modal").on('show.bs.modal', () => {
                $(this).find('#confirm-action-btn').removeClass('disabled').removeAttr('disabled')
            })
        })
    </script>
{% endblock %}

