{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}Active shops{% endblock %}
{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Update script tag?</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">are you sure you want to update script tag of all active shops.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="confirm-action">
                        <span>Update all shops script tag</span>
                        <span class="spinner-border spinner-border-sm" style="display:none"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mx-auto mt-2">
                <div class="mb-4">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#active-shops">Active Shops <span class="badge badge-primary">{{ active_shops|length }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#inactive-shops">Uninstalled Shops  <span class="badge badge-primary">{{ inactive_shops|length }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#incomplete-shops">Incomplete Payment Shops  <span class="badge badge-primary">{{ pending_shops|length }}</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane container active" id="active-shops">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h2>Active Shops</h2>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" id="update-script-tags" data-toggle="modal" data-target="#confirmationModal">Update Script Tags</button>
                            </div>
                        </div>
                        <div>
                            <table class="table tbale-hover shop-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Merchant Id</th>
                                        <th>Myshopify Domain</th>
                                        <th>Live Domain</th>
                                        <th class="text-right">Date (UTC)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shop in active_shops  %}
                                        <tr data-id="{{ shop.id }}" class="cursor-pointer" role="button">
                                            <td width="50px">{{ shop.id }}</td>
                                            <td>{{ shop.merchant_id }}</td>
                                            <td>{{ shop.myshopify_domain }}</td>
                                            <td>{{ shop.domain }}</td>
                                            <td class="text-right">{{ shop.date_add|format_datetime() }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="bg-danger text-light" colspan="4">No Active Shops Found.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="inactive-shops">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h2>Uninstalled Shops</h2>
                            </div>
                        </div>
                        <div>
                            <table class="table tbale-hover shop-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Merchant Id</th>
                                        <th>Myshopify Domain</th>
                                        <th class="text-right">Installed Date (UTC)</th>
                                        <th class="text-right">Uninstalled Date (UTC)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shop in inactive_shops  %}
                                        <tr data-id="{{ shop.id }}" class="cursor-pointer" role="button">
                                            <td width="50px">{{ shop.id }}</td>
                                            <td>{{ shop.merchant_id }}</td>
                                            <td>{{ shop.myshopify_domain }}</td>
                                            <td class="text-right">{{ shop.date_add|format_datetime() }}</td>
                                            <td class="text-right">{{ shop.date_upd|format_datetime() }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="bg-danger text-light" colspan="4">No Uninstalled Shops Found.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="incomplete-shops">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h2>Incomplete Shops</h2>
                            </div>
                        </div>
                        <div>
                            <table class="table tbale-hover shop-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Merchant Id</th>
                                        <th>Myshopify Domain</th>
                                        <th class="text-right">Installed Date (UTC)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shop in pending_shops  %}
                                        <tr data-id="{{ shop.id }}" class="cursor-pointer" role="button">
                                            <td width="50px">#{{ shop.id }}</td>
                                            <td>{{ shop.merchant_id }}</td>
                                            <td>{{ shop.myshopify_domain }}</td>
                                            <td class="text-right">{{ shop.date_add|format_datetime() }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td class="bg-danger text-light" colspan="4">No Pending Shops Found.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div id="server-responses"></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".shop-table").on("click", "tr[data-id]", function(){
                const id = $(this).data('id')
                window.location.href = `shops/${id}`
            })

            $("#confirm-action").on("click", (e)=> {
                const activator = $(this)
                e.preventDefault();
                activator.find('span').toggle()

                $.ajax({
                    url: '{{ path("shop_actions") }}',
                    type: 'POST',
                    data: {'action_type': 'update_script_tags'},
                    success: (data) => {
                        const returnData = data.data || [];
                        if(typeof data.err !== 'undefined') {
                            confirm(data.err);
                        }
                        else if(typeof data.notice !== 'undefined') {
                            alert(data.notice);                            
                        }

                        const updated_shops = returnData.updated_shop;
                        const not_updated_shops = returnData.not_updated_shop;

                        let updated_shops_html = not_updated_shops_html = ''

                        if(Object.keys(updated_shops).length) {
                            $.each(updated_shops, (id, shop)=> { updated_shops_html += `<p>${id} => ${shop}</p>`; })
                        }
                        else {
                            updated_shops_html = 'Not any'
                        }

                        if(Object.keys(not_updated_shops).length) {
                            $.each(not_updated_shops, (id, shop)=> { not_updated_shops_html += `<p>${id} => ${shop}</p>`; })
                        }
                        else {
                            not_updated_shops_html = 'Not any'
                        }

                        let returnDataHtml = `<h3 style="text-transform: uppercase;"><u>Update script tags</u></h3><b>Updated Shops:</b><div> ${updated_shops_html} </div> <b>Not Updated Shops:</b> <div>${not_updated_shops_html}</div>`;

                        $("#server-responses").html(returnDataHtml).show();
                        $("#update-script-tags").prop('disabled', true).addClass('disabled')
                    },
                    error: (xhr, data)=> {
                        console.log(xhr)
                    },
                    complete: (data)=> {
                        activator.find('span').toggle()
                        $("#confirmationModal").modal('hide')
                    }
                })
            })
        })
    </script>
{% endblock %}