<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Admin - {{ app_name }}</title>
        <link rel="icon" href="{{ asset('easy-returns-fevicon-red.png') }}" type="image/gif" >
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/sa.css') }}">
            <style>
                .navbar-nav .nav-link{
                    font-size: 1.2rem;
                }
                #server-responses {
                    display: none;
                    line-height: 2rem;
                    background: #e6ffe6;
                    margin-bottom: 15px;
                    border: 5px solid darkseagreen;
                    padding: 15px;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block notifications %}
        
        {% endblock %}
        {% block header %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nav class="navbar navbar-expand-sm justify-content-between pt-2">
                            <div>
                                <a class="navbar-brand" href="{{ path('sa_dashboard') }}"><img src="{{ asset('easy-returns-without-text.png') }}" alt="Logo" width="45px" height="auto"></a>
                                <a class="btn btn-link" href="{{ path('sa_dashboard') }}">Dashboard</a>
                            </div>
                            <span class="h3 text-danger">Lyzer Easy Returns | Admin</span>
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link text-danger" href="{{ path('app_logout') }}">Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block body %}
            
        {% endblock %}
        {% block script %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
