{% extends 'super_admin/super_admin_base.html.twig' %}
{% block title %}View Customer Query{% endblock %}

{% block body %}
    <div class="loader" style="position: fixed; text-align: center; padding-top: 15%; z-index: 10; background: rgba(0,0,0,.3); top: 0; left: 0; right: 0; bottom: 0; display: none;">
        <div class="spinner-border"></div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 p-3 mx-auto mt-2">
				<div>
                    <div class="d-flex mb-3">
                        <div class="">
                            <div class="d-flex align-items-center">
                                <a class="btn btn-primary btn-sm" href="{{ path('sa_customer_queries') }}">Back</a>
                                <h3 class="font-weight-normal mx-2">Customer Query</h3>
                                <span class="d-block h3 px-2">#{{ customer_query.id }}</span>
                                {% if customer_query.status == 1 %}
                                    <span class="badge badge-success">Answered</span>
                                {% elseif customer_query.status == 2 %}
                                    <span class="badge badge-secondary">Closed</span>
                                {% elseif customer_query.status == 3 %}
                                    <span class="badge badge-danger">Rejected</span>
                                {% else %}
                                    <span class="badge badge-primary">Open</span>
                                {% endif %}
                            </div>
                            <div><span class="text-secondary">{{ customer_query.created_at|format_datetime() }}</span></div>
                        </div>
                        <div class="ml-auto">
                            {% if customer_query.status == 0 %}
                                <button class="btn btn-danger" data-value="3" id="update-query-btn">Reject Query</button>
                            {% elseif customer_query.status == 1 %}
                                <button class="btn btn-secondary" data-value="2" id="update-query-btn">Close Query</button>
                            {% endif %}
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>{{ customer_query.name|capitalize }}</th>
                                <td>{{ customer_query.email }}</td>
                            </tr>
                            <tr>
                                <th>Subject</th>
                                <td>{{ customer_query.subject }}</td>
                            </tr>
                            <tr>
                                <th colspan="2">Query</th>
                            </tr>
                            <tr>
                                <td colspan="2">{{ customer_query.query }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    {% if customer_query.status == 0 %}
					<form method="post" action="{{ path('sa_customer_query_action') }}" class="form" id="query-form">
						<div class="form-group">
							<label for="Reply">Reply</label>
							<textarea class="form-control" name="message" id="message" rows="5" style=""></textarea>
						</div>

						{# <div class="form-group">
							<label for="Tag">Tag</label>
							<input type="text" value="" name="tags" id="tags" class="form-control">
						</div> #}
                       
						<div class="form-group">
							<button class="btn btn-success" type="submit" id="save-btn">Send Reply</button>
                            <p id="response"></p>
						</div>
					</form>
                    {% endif %}
				</div>
			</div>
		</div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            setTimeout(() => {
            $(".loader").hide();
            }, 500);
        })

        $("#save-btn").on("click", function (e) {
            e.preventDefault();
            $(".loader").show();
            $("#response").removeClass('text-danger, text-success').html('');
            var form_data = $("#query-form").serializeArray();
            form_data_json = {};

            $.map(form_data, function(n, i){
                form_data_json[n['name']] = n['value'];
            });

            $.ajax({
                url: '{{ path("sa_customer_query_action", {'id': app.request.get('id')}) }}',
                type: 'POST',
                data: form_data_json,
                success: (data) => {
                    data = JSON.parse(data);
                    const error = data.error || ''
                    const notice = data.notice || ''

                    if(error !== '') {
                        $("#response").addClass('text-danger').html(error);
                    }
                    else if(notice !== '') {
                        $("#response").addClass('text-success').html(notice);
                        setTimeout(()=> {
                            window.location.href = '{{ path("sa_customer_query", {'id': app.request.get('id')}) }}';
                        }, 1500)
                    }
                },
                error: (xhr, data)=> {
                    console.log(xhr)
                    if(xhr.status === 404) {
                        alert(xhr.responseText)
                        window.location.href = '{{ path("sa_customer_queries") }}';
                    }
                },
                complete: (data)=> {
                    $(".loader").hide();
                },
            })
        })
    </script>
    {% if app.request.get('id') %}
        <script>
            $("#update-query-btn").on('click', function () {
                const status_to = $(this).data('value')
                const status_text = status_to == "2" ? "Reject" : status_to == "2" ? "Close" : '';
                let is_confirmed = confirm('are you sure you want to update the query status to ' + status_text);

                if(is_confirmed) {
                    $.ajax({
                        url: '{{ path("sa_customer_query_update_action", {'id': app.request.get('id')}) }}',
                        type: 'POST',
                        data: {"status_to": status_to},
                        success: (data) => {
                            data = JSON.parse(data);
                            const error = data.error || ''
                            const notice = data.notice || ''

                            if(error !== '') {
                                alert(error);
                            }
                            else
                                window.location.href = '{{ path("sa_customer_queries") }}';
                        },
                        error: (xhr, data)=> {
                            if(xhr.status === 404) {
                                window.location.href = '{{ path("sa_customer_queries") }}';
                            }
                        },
                        complete: (data)=> {

                        }
                    })
                }
            })
        </script>
    {% endif %}
{% endblock %}

