HTML {
  height: 100%;
}
body {
  height: 100%;
  /* background: #000; */
}
.carousel-control-next,
.carousel-control-prev {
  width: unset;
  position: fixed;
}
.nav-button {
  padding: 20px;
  background: black;
  opacity: 0.5;
}
.carousel-indicators {
  position: fixed;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.1);
  padding: 7px;
}
.carousel-indicators > li {
  width: 78px;
  height: 78px !important;
  text-indent: unset;
  text-align: center;
  margin: 0px 6px;
}
.carousel-indicators li::before {
  display: none;
}
.carousel-indicators li::after {
  display: none;
}
.carousel-indicators .active {
  outline: 2px solid green;
  outline-offset: 2px;
}
.img-preview {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
