html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: linear-gradient(100deg, rgb(227, 255, 231), rgb(217, 231, 255));
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}
ul li,
ol li {
  list-style: none;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  outline: 0;
}
.page-header .navbar-nav .nav-item {
  margin: 0 0 0 1rem;
}
.page-header .navbar-nav .nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000000 !important;
  word-break: normal;
  word-wrap: normal;
  padding: 10px 5px;
  border-bottom: 1px solid transparent;
}
.page-header .navbar-nav .nav-link:hover {
  color: #f9d324 !important;
  text-shadow: black;
  border-bottom: 1px solid rgb(224, 221, 221);
  transition: all 300ms;
}

/* mobile menu START */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
}

/* The navigation links inside the overlay */
.overlay .nav-item {
  border-color: #dedfdf;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.overlay a.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000000 !important;
  word-break: normal;
  word-wrap: normal;
  padding: 15px 15px;
  font-size: 1.5rem;
  transition: 0.3s;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}
.overlay .closebtn:focus {
  outline: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.toggle-inner {
  display: flex;
  justify-content: center;
  position: relative;
}
.toggle-inner .toggle-icon {
  height: 1.5rem;
  width: 2.6rem;
  display: block;
  overflow: hidden;
}
.toggle-icon svg {
  height: 0.8rem;
  width: 2.6rem;
}
.btn-toggle {
  background: none;
  border: none;
  box-shadow: none;
  padding: 10px;
}
/* mobile menu END */
.try-for-free-btn {
  background: linear-gradient(125.93deg, #ff931f -28.98%, #ff6361 84.29%);
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
.pricing-wrapper {
  position: relative;
  z-index: 999;
  overflow: hidden;
}
.pricing-wrapper::before {
  background-image: radial-gradient(#c7daf4 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: '';
  width: 100%;
  height: 245px;
  left: 0;
  /* margin-left: -412px; */
  top: 0;
  margin-top: -40px;
  z-index: -1;
}
.pricing-wrapper::after {
  background-image: radial-gradient(#e2ecf9 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: '';
  width: 800px;
  height: 200px;
  left: 50%;
  margin-left: 195px;
  bottom: 0;
  margin-bottom: 50px;
  z-index: -1;
}
.price-box {
  position: relative;
  margin: 40px 10px 20px 5px;
  padding: 50px 10px 32px 10px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e5efff;
  background-color: #fff;
  border-radius: 8px 8px;
  box-shadow: 12px 14px 0 #e5edfa;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
ul.pricing-list {
  padding: 0 30px;
}
ul.pricing-list li.price-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #071e55;
}
ul.pricing-list li.price-value {
  font-family: 'Dosis', sans-serif;
  font-size: 70px;
  line-height: 70px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #071e55;
}
ul.pricing-list li.price-subtitle {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #6a6a6a;
}
ul.pricing-list li.price-text {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 5px;
}
ul li i {
  vertical-align: middle;
  padding-right: 5px;
}
.blue {
  color: #017df7;
}
/* section 1 */
.section-blue {
  background-color: #1e90ff;
  padding: 90px 0;
}
.white-text {
  color: #fff;
}
p.section-subtitle.white {
  color: #ffffff;
}
p.section-subtitle {
  font-size: 18px;
}
.btn-white {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #056aeb;
  background-color: #ffffff;
  border: 1px solid #fff;
  box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 37%);
  border-radius: 5px 5px;
  letter-spacing: 1px;
  margin: 10px 10px 0 10px 0;
  padding: 16px 26px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.btn-white-border {
  color: #fff;
  background: transparent;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 5px 5px;
  margin: 10px 10px;
  padding: 16px 26px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.btn-white-border:hover {
  box-shadow: 0px 4px 10px 0 rgb(0 0 0 / 50%);
  color: #0470ea !important;
  background: #f9f9f9;
}
/* faq */
.section-white {
  background: #fff;
  padding: 90px 0 100px 0;
}
.section-bottom-border {
  border-bottom: 1px solid #efefef;
}
h2.section-title {
  margin-bottom: 10px;
}
h2 {
  font-size: 36px;
}
.faq-box {
  margin: 30px 0 0 0;
  transition: all 1s;
}
.faq-box h5 {
  margin-bottom: 12px;
}
/* section features */
h3 {
  font-size: 30px;
}
p {
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}
ul.benefits {
  margin-bottom: 30px;
}
.box-shadow {
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0 rgb(0 0 0 / 15%);
}
.section-grey {
  background: #fafbfc;
  padding: 90px 0 100px 0;
}
/* amazing features */
.feature-box {
  text-align: center;
  margin: 30px 0 0 0;
  transition: all 1s;
}
.feature-box i {
  margin-bottom: 10px;
  font-size: 46px;
  color: #1e90ff;
}
.feature-box h4,
.faq-box h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
/* section features-1 */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #fff;
  border: 1px solid #f4f5f6 !important;
  border-radius: 8px !important;
  box-shadow: 0 12px 55px 0 rgb(0 0 0 / 5%) !important;
  -moz-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0 12px 55px 0 rgb(0 0 0 / 5%) !important;
  transition: all 1s;
}
.nav-pills .nav-link {
  margin-bottom: 10px;
}
.features-second {
  margin: 10px 0;
}
.dropcaps-circle {
  float: left;
  margin: 1px 25px 10px 0;
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  color: #017df7;
  font-size: 40px;
  line-height: 80px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.features-second h4 {
  margin-top: 10px;
  font-size: 21px;
}
.features-second p {
  margin-bottom: 10px;
}
.width-100 {
  width: 100%;
}
.width-130 {
  width: 130%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 20px;
  color: #071e55;
  font-weight: 600;
}
/* home section */
.home-section {
  position: relative;
  z-index: 999;
  overflow: hidden;
  position: relative;
  top: 91px;
  padding-top: 60px;
  padding-bottom: 75px;
  margin-bottom: 75px;
  background-color: #1e90ff;
}
.home-section h1 {
  margin-bottom: 15px;
  color: #fff;
}
.home-section p {
  margin-bottom: 30px;
  max-width: 600px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
}
ul.home-benefits {
  margin: 10px 0 35px 0;
  letter-spacing: 1px;
  color: #fff;
}
ul.home-benefits li {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 8px;
  color: #fff;
}
ul.home-benefits li i {
  font-size: 26px;
  line-height: 28px;
  margin-right: 5px;
  color: #fff;
}
/* section about */
.services-wrapper {
  position: relative;
  z-index: 999;
  overflow: hidden;
}
.services-wrapper::before {
  background-image: radial-gradient(#e2ecf9 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: '';
  width: 800px;
  height: 225px;
  left: 0;
  margin-left: -412px;
  top: 0;
  margin-top: 5px;
  z-index: -1;
}
.services-wrapper::after {
  background-image: radial-gradient(#e2ecf9 15%, transparent 25%);
  background-size: 20px 20px;
  position: absolute;
  content: '';
  width: 800px;
  height: 200px;
  left: 50%;
  margin-left: 195px;
  bottom: 0;
  margin-bottom: 50px;
  z-index: -1;
}
.main-services {
  position: relative;
  margin: 50px 10px 40px 10px;
  padding: 50px 15px 32px 15px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e5efff;
  background-color: #fff;
  border-radius: 8px 8px;
  box-shadow: 12px 14px 0 #e5edfa;
  transition: all 1s;
}
.main-services img {
  width: 100px;
  margin-bottom: 25px;
}
.main-services h3 {
  font-size: 26px;
  color: #292929;
  margin-bottom: 15px;
}
.main-services p {
  padding: 0 10px;
  margin-bottom: 25px;
}
/* contact us */
.section-white.no-padding,
.section-grey.no-padding,
.section-blue.no-padding {
  padding: 0;
}
.small-col-inside {
  max-width: 575px;
  padding-left: 55px;
}
#contact-form {
  margin-top: 30px;
}
input.contact-input,
textarea {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 12px;
  color: #727272;
  background-color: #f6f7f8;
  border: 1px solid #ececec !important;
  font-size: 14px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input.contact-input {
  height: 50px;
}
textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input.contact-submit {
  color: #fff;
  background: #1e90ff;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 30px;
  position: relative;
  text-transform: uppercase;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
#contactus-section {
  padding-bottom: 60px;
}
/* install app */
.section-white.small-paddings,
.section-grey.small-paddings,
.section-blue.small-paddings {
  padding: 30px 0;
}
.quick_install_form_wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.quick_install_form_box {
  margin: 0 auto;
  max-width: 730px;
}
#quick-install-form #myshopify_domain {
  width: 100%;
  max-width: 450px;
  height: 65px;
  padding: 0 20px;
  border: 2px solid #fff;
  background-color: transparent;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  color: #fff;
  font-size: 16px;
  margin: 0;
}
#quick-install-form #myshopify_domain:focus {
  outline: none;
}
#quick-install-form #myshopify_domain::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
#quick-install-form input#install-app-btn {
  width: 165px;
  height: 65px;
  background: #fff;
  border: none;
  color: #1e90ff;
  display: inline;
  margin: 0 0 0 -5px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  font-weight: 700;
  vertical-align: top;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}
#quick-install-form input#install-app-btn.disabled {
  opacity: 0.9;
  color: #ccc;
  cursor: auto;
}
/* media queries */
@media only screen and (max-width: 768px) {
  #quick-install-form input#install-app-btn {
    margin-top: 20px;
    border-radius: 5px;
  }
  .small-col-inside {
    padding-left: 15px;
    padding-top: 60px;
  }
  .section-white {
    padding: 50px 0 50px 0;
  }
  .section-grey {
    padding: 40px 0 40px 0;
  }
  .section-blue {
    padding: 50px 0;
  }
  .section-blue.small-paddings {
    padding: 0px;
  }
  .home-section {
    padding-top: 0px;
  }
  .faq-list-section {
    padding: 25px 0px !important;
  }
  .f-ques > h3 {
    padding: 0px 10px;
  }
  .faq-list > .f-ques {
    font-size: 1.3rem;
  }
  .width-130 {
    width: 100%;
  }
  .hero-images {
    padding-top: 50px;
  }
  .get_started .btn-white-border {
    margin: 0px;
  }
}
/* faq page */
.faq-list > .f-ques {
  cursor: pointer;
  border: 1px solid #ebebeb;
  padding: 1rem;
  border-radius: 2px;
  background: #fff;
  font-weight: 500;
}
.faq-list > .f-ques > a {
  padding-left: 0px;
}
.f-ques > div {
  font-size: 1.3rem;
  font-weight: 500;
}
.bg-white {
  background-color: #fff;
}
.faq-answer img {
  width: 100%;
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
}
.img-zoom {
  overflow: hidden;
  clip-path: polygon(0 0, 93% 0, 93% 100%, 0% 100%);
}
/* utility classes */
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.padding-top-60 {
  padding-top: 60px !important;
}
/* margin utility */
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-70 {
  margin-top: 70px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-right-25 {
  margin-right: 25px !important;
}
