.dashboard-link {
  text-align: center;
  text-transform: uppercase;
  padding: 13px;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.c-pointer {
  cursor: pointer;
}
.notification {
  position: fixed;
  right: 3px;
  top: 3px;
  justify-content: right;
  max-width: 50%;
  min-width: 200px;
  z-index: 1;
}
.notify-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
