<div>
    <div>
        <div>
            <a href="/account" class="btn" style="display: inline-block;">Return to my account</a>
        </div>
        <div class="section-header text-center">
            <h1>Return Order {{ order_details.name }}</h1>
        </div>
    </div>
    {% if returned_line_items %}
        <div style="margin-bottom: 15px; font-size: 18px;">
            <h5>Returned Line Items : </h5>
        </div>
        {% for return_request_id, returned_line_item in returned_line_items %}
        <div class="easy-table-wrapper">
            <div class="return-details">
                <table class="easy-table">
                    <tbody>
                        <tr>
                            <th width="200px;">Return Request</th>
                            <td>#{{ return_request_id }}</td>
                        </tr>
                        <tr>
                            <th>Return Status</th>
                            <td>{{ returned_line_item.return_status_label }}</td>
                        </tr>
                        <tr>
                            <th>Return Method</th>
                            <td>{% if returned_line_item.return_type == 1 %}Refund{% else %}Exchange{% endif %}</td>
                        </tr>
                        <tr>    
                            <th>Return Created At</th>
                            <td>{{ returned_line_item.date_add|format_datetime(pattern="LLLL dd, y 'at' hh:mm a") }}</td>
                        </tr>
                        {% if returned_line_item.return_type == 1 %}
                        <tr>    
                            <th>Amount Refund On</th>
                            <td>
                                {% if returned_line_item.payment_details %}
                                    {% set payment_details = returned_line_item.payment_details %}
                                    {% for payment_option, payment_detail in payment_details %}
                                        {% if payment_option == 'bank_details'%}
                                            Bank (**** **** {{ payment_detail.bank_account_no|slice(-4, 4) }})
                                        {% elseif payment_option == 'paytm_mobile_no' %}
                                            Paytm Mobile No ({{ payment_detail.paytm_mobile_no }})
                                        {% elseif payment_option == 'upi_id' %}
                                            UPI ID ({{ payment_detail.upi_id }})
                                        {% elseif payment_option == 'phonepe_mobile_no' %}
                                            Phonepe Mobile No ({{ payment_detail.phonepe_mobile_no }})
                                        {% elseif payment_option == 'google_pay' %}
                                            Google pay Mobile No ({{ payment_detail.google_pay }})
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    On your payment method
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <table class="easy-table">
                <tbody>
                    <tr class="thead">
                        <th scope="col" class="text-left" style="width: 85px;">Image</th>
                        <th scope="col" class="text-left" colspan="2">Name</th>
                        <th scope="col" class="text-left">Sku</th>
                        <th class="text-left" scope="col">Price</th>
                        {# <th class="text-right" scope="col">Quantity</th> #}
                        <th class="text-right" scope="col">Return Quantity</th>
                    </tr>
                    {% for line_item in returned_line_item.return_line_items %}
                        {% set order_line_item = line_items[line_item.line_item_id] %}
                        <tr id="{{ line_item.order_line_item_id }}" class="return_product_detail">
                            {% set img_src = order_line_item.src %}
                            {% if not img_src %}{% set img_src = no_img %}{% endif %}
                            <td class="text-left"><img src="{{ img_src }}" width="55px" height="auto" /></td>
                            <td class="text-left" colspan="2">{{ order_line_item.title }}</td>
                            <td class="text-left">{% if order_line_item.sku %}{{ order_line_item.sku }}{% else %} - {% endif %}</td>
                            <td class="text-left">{{ money_format|preg_replace('/{{.*}}/', order_line_item.price)|raw }}</td>
                            {# <td class="text-right">{{ order_line_item.quantity }}</td> #}
                            <td class="text-right">{{ line_item.return_qty }}</td>
                        </tr>
                        <tr class="return_reason_row" style="background-color: #f5f5f5;">
                            <td colspan="6" class="text-left"><b>Return Reason: </b> {{ line_item.return_reason }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% if returned_line_item.return_status is same as("4") %}
                        <tr class="canceled_reason_row" >
                            <th colspan="2"><b>Canceled Reason :</b></th>
                            <td colspan="4" class="text-left">{{ returned_line_item.canceled_reason }}</td>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
            {% if returned_line_item.customer_note != '' %}
                <div class="card customer-note">
                    <h4>Note</h4>
                    <p>{{ returned_line_item.customer_note }}</p>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
</div>

{% if return_applicable_line_items %}
    <div style="margin-bottom: 15px; font-size: 18px;">
        <h5>Select the product's quantity you want to return : </h5>
    </div>
    <div id="return_order_form">
        <form method="POST" id="return_order_items_form" class="return_order_items_form" enctype="multipart/form-data">
            <div class="easy-table-wrapper">
                <table class="easy-table">
                    <thead class="thead">
                        <tr>
                            <th scope="col" class="text-left" style="width: 85px;">Image</th>
                            <th scope="col" class="text-left">Name</th>
                            <th scope="col" class="text-left">Sku</th>
                            <th class="text-left" scope="col">Price</th>
                            <th class="text-right" scope="col">Quantity</th>
                            <th class="text-right" scope="col">Return Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line_item_id, line_item_qty in return_applicable_line_items %}
                            {% set line_item=line_items[line_item_id] %}
                            <tr id="{{ line_item.id }}" class="return_product_detail">
                                {% set img_src = line_item.src %}
                                {% if not img_src %}{% set img_src = no_img %}{% endif %}
                                <td class="text-left"><img src="{{ img_src }}" width="55px" height="auto" /></td>
                                <td class="text-left">{{ line_item.title }}</td>
                                <td class="text-left">{% if line_item.sku %}{{ line_item.sku }}{% else %} - {% endif %}</td>
                                <td class="text-left">{{ money_format|preg_replace('/{{.*}}/', line_item.price)|raw }}</td>
                                <td class="text-right">{{ line_item.quantity }}</td>
                                <td class="text-right">
                                    <input type="number" class="return_qty_input" data-id="{{ line_item_id }}" name="return_qty[{{ line_item_id }}]" value="0"
                                        min="0" max="{{ line_item_qty }}" />
                                </td>
                            </tr>
                            <tr class="return_reason_{{ line_item_id }}" style="display: none; background-color: #f5f5f5;">
                                <th colspan="2">Return Reason</th>
                                <td colspan="4">
                                    <select name="return_reason[{{ line_item.id }}]" style="width: 60%">
                                        <option value="">Select Return Reason</option>
                                        {% for return_reason in return_reasons %}
                                        <option value="{{ return_reason.id }}">{{ return_reason.label }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="return-method-div" style="padding: 15px; border: 1px solid #c6c6c6; margin-bottom: 15px;">
                <div>
                    <label class="form-label">Choose Return Method</label>
                    {% for key, return_method in return_methods %}
                    <div>
                        <label>
                            <input type="radio" name="return_method" class="return_method" value="{{ return_method }}" {% if key == 0 %} checked="true" {% endif %} > 
                            {% if return_method == 1 %}
                            Refund
                            {% elseif return_method == 2 %}
                            Exchange
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if notification_email == '' %}
                <div class="card notification-div" id="notification-div" style="">
                    <div>
                        <label class="form-label">Notification Email <span class="text-danger email-required">( Required )</span></label>
                        <input name="notification_email" required id="notification_email" placeholder="" style="width: 100%;" value="{{ notification_email }}" />
                        <p id="notification-helptext">This email is needed if we send a return label, and all notifications regarding the status of your return.</p>
                    </div>
                </div>
            {% endif %}

            {% if (has_customer_note or exchange_note) %}
                <div class="note-div" id="note-div" style="padding: 15px; border: 1px solid #c6c6c6; margin-bottom: 15px;">
                    <div>
                        <label class="form-label">Add a note <span class="text-danger note-required">( Required )</span> <span class="note-optional">( Optional )</span> <span class="text-danger">( <span class="current_count">0</span> / 250 chars )</span></label>
                        <textarea name="customer_note" id="customer_note" placeholder="Notes" rows="4" style="width: 100%; resize: none;"></textarea>
                        <p id="exchange-helptext" style="display:none;">Please specify which item you would like to exchange this item for.</p>
                    </div>
                </div>
            {% endif %}

            {% if image_upload %}
                <div class="image-upload-div" id="image-upload-div" style="padding: 15px; border: 1px solid #c6c6c6; margin-bottom: 15px;">
                    <div>
                        <label class="form-label">Upload Item images {% if required_image_upload %}<span class="text-danger image-required">( Required )</span>{% else %} <span class="image-optional">( Optional )</span>{% endif %} </label>

                        <div>
                            <input type="file" class="upload-files" id="upload-file-input" name="files[]" multiple="true" accept="image/*" />
                        </div>
                        <div id="uploaded-files"></div>
                    </div>
                </div>
            {% endif %}

            {% if payment_options %}
                <div class="card payment-div" id="payment-div">
                    <label class="form-label">Choose payment options for refund amount</label>
                    {% for payment_option in payment_options %}
                    <div>
                        <label><input type="radio" name="payment_option" class="payment_option" value="{{ payment_option.handle }}" > {{ payment_option.name }}</label>
                    </div>
                    {% endfor %}

                    {% for payment_option in payment_options %}
                        {% if payment_option.handle is same as('bank_details') %}
                        <div id="bank_details_card" class="payment_cards" style="">
                            <div>
                                <label>Enter Bank Account Number <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[bank_account_no]" value="">
                            </div>
                            <div>
                                <label>Enter Bank IFSC Code <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[bank_ifsc_code]" value="">
                            </div>
                            <div>
                                <label>Enter Bank Holder number <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[bank_holder_name]" value="">
                            </div>
                        </div>
                        {% elseif payment_option.handle is same as('paytm_mobile_no') %}
                        <div id="paytm_mobile_no_card" class="payment_cards" style="">
                            <div>
                                <label>Enter Paytm Mobile Number <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[paytm_mobile_no]" value="" placeholder="9521545452">
                            </div>
                        </div>
                        {% elseif payment_option.handle is same as('upi_id') %}
                        <div id="upi_id_card" class="payment_cards" style="">
                            <div>
                                <label>Enter UPI Id <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[upi_id]" value="" placeholder="Enter UPI Id">
                            </div>
                        </div>
                        {% elseif payment_option.handle is same as('phonepe_mobile_no') %}
                        <div id="phonepe_mobile_no_card" class="payment_cards" style="">
                            <div>
                                <label>Enter Phonepe Mobile Number <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[phonepe_mobile_no]" value="" placeholder="9521545452">
                            </div>
                        </div>
                        {% elseif payment_option.handle is same as('google_pay') %}
                        <div id="google_pay_card" class="payment_cards" style="">
                            <div>
                                <label>Enter Google Pay Mobile Number <span class="text-danger">*</span></label>
                                <input type="text" disabled="disabled" name="payment_details[google_pay]" value="" placeholder="9521545452">
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="frfi-btn frfi-btn-primary" id="submit_return_order_btn">Submit</button>
        </form>
    </div>
{% endif %}