<div>
    <div>
        <a href="/account" class="btn" style="display: inline-block;">Return to my account</a>
    </div>
    <div class="text-center mb-25">
        <div class="page-heading">Return Order {{ order_details.name }}</div>
    </div>
</div>
<p class="lery-subheading text-success">Return Request #{{ request_id }} has been created. Please wait for approval.</p>

<div id="return_order_form">
    <div class="lery-subheading">Selected product's for return.</div>
    <div class="easy-table-wrapper">
        <table class="easy-table">
            <thead class="thead">
                <tr>
                    <th scope="col" style="width: 85px;">Image</th>
                    <th scope="col" colspan="2">Name</th>
                    <th scope="col">Sku</th>
                    <th class="text-left" scope="col">Price</th>
                    <th class="text-right" scope="col">Return Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for line_item_id,return_item in return_items %}
                    {% set order_line_item = line_items[line_item_id] %}
                    <tr id="{{ line_item_id }}" class="return_product_detail">
                        {% set img_src = order_line_item.src %}
                        {% if not img_src %}{% set img_src = no_img %}{% endif %}
                        <th><img src="{{ img_src }}" width="55px" height="auto" /></th>
                        <th colspan="2">{{ order_line_item.product_title }} {% if order_line_item.variant_title %} - {{ order_line_item.variant_title }}{% endif %}</th>
                        <td>{% if order_line_item.sku %}{{ order_line_item.sku }}{% else %} - {% endif %}</td>
                        <td class="text-left">{{ money_format|preg_replace('/{{.*}}/', order_line_item.price)|raw }}</td>
                        <td class="text-right">{{ return_item.qty }}</td>
                    </tr>
                    <tr class="return_reason_row" style=" background-color: #f5f5f5;">
                        <td colspan="6"><b>Return Reason :</b> {{ return_item.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"><b>Return Method:</b> 
                        {% if return_method == 1 %} Refund {% elseif return_method == 2 %} Exchange {% endif %}
                    </td>
                </tr>
                {% if payment_details is defined and payment_details is not empty %}
                <tr>
                    <td colspan="6"><b>Amount Refund on:</b> 
                        {% if is_cod_order %}
                            {% for payment_option, payment_detail in payment_details %}
                                {% if payment_option == 'bank_details'%}
                                    Bank (**** **** {{ payment_detail.bank_account_no|slice(-4, 4) }})
                                {% elseif payment_option == 'paytm_mobile_no' %}
                                    Paytm Mobile No ({{ payment_detail.paytm_mobile_no }})
                                {% elseif payment_option == 'upi_id' %}
                                    UPI ID ({{ payment_detail.upi_id }})
                                {% elseif payment_option == 'phonepe_mobile_no' %}
                                    Phonepe Mobile No ({{ payment_detail.phonepe_mobile_no }})
                                {% elseif payment_option == 'google_pay' %}
                                    Google pay Mobile No ({{ payment_detail.google_pay }})
                                {% elseif payment_option == 'coupon_code' %}
                                    As a coupon code 
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            On your payment method
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tfoot>
        </table>
    </div>
    {% if customer_note is defined and customer_note != '' %}
        <div class="card customer-note">
            <h4>Note</h4>
            <p>{{ customer_note }}</p>
        </div>
    {% endif %}
</div>