<div>
    <div class="text-center mb-25">
        <div class="page-heading">Easy Return Center</div>
        <div class="lery-subheading">To start the return process for your order, please enter your email address or phone number and the order number below.</div>
    </div>
    <Form class="lery-form easy_return_center_form" id="easy_return_center_form" method="POST">
        <div class="lery-form-group">
            <label for="Email or Mobile" class="lery-label">Email Address / Phone Number:</label>
            <input type="text" class="lery-input" name="email" id="email" required placeholder="" value="" />
        </div>
        <div class="lery-form-group">
            <label for="order_number" class="lery-label">Order Number:</label>
            <input type="text" class="lery-input" name="order_number" id="order_number" required placeholder="" value="" />
        </div>
        <div class="mt-15">
            <button type="submit" class="lery-btn w-100">Start Return Request</button>
        </div>
    </Form>
</div>