{% verbatim %}{% if customer != blank %}
	<script>window.location.href = "{{ routes.account_url }}"</script>
{% else %}
  <script>var easy_page_handle = "easy_return_center";</script>
{% endif %}
{% include 'easy_returns.css.liquid' %}

<div class="lery-page">
  <div class="lery-page-inner">
    <div class="loader_wrapper"><div class="loader"></div></div>
    <div class="lery-page-container">
        <div id="return_center_div"></div>
        <div id="return_order_failed" class="error-dialog"></div>
    </div>
  </div>
</div>{% endverbatim %}