{% verbatim %}{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}

{%- assign qs = pageUrl | split:'?' | last -%}
{%- assign qry_parts= qs | split:'&' -%}
{%- for part in qry_parts -%}
	{%- assign key_and_value = part | split:'=' -%}
	{%- if key_and_value.size > 1 -%}
		{% if key_and_value[0] == 'order_id' %}
			{%- assign oid = key_and_value[1] -%}
		{% elsif key_and_value[0] == 'cid' %}
			{%- assign cid = key_and_value[1] -%}
		{% elsif key_and_value[0] == 'tpken' %}
			{%- assign token = key_and_value[1] -%}
		{% endif%}
	{%- endif -%}
{%- endfor -%}

<script> var easy_page_handle = "easy_order_return"; </script>

{% if qs contains "preview=1" %}
{% elsif qs contains "token" and qs contains "cid" and qs contains 'order_id' %}
  <script> var ly_customer_id = {{ cid }}; </script>
{% elsif customer != blank %}
  <script> var ly_customer_id = {{ customer.id }}; </script>
{% else %}
  <script> window.location.href = "{{ routes.account_login_url }}"; </script>
{% endif %}
{% include 'easy_returns.css.liquid' %}

<div class="lery-page">
  <div class="lery-page-inner">
    <div class="loader_wrapper"><div class="loader"></div></div>
    <div class="lery-page-container">
        <div id="return_order_div"></div>
        <div id="return_order_failed" class="error-dialog"></div>
    </div>
  </div>
</div>{% endverbatim %}