body {
  background-color: #f6f6f7;
}
.d-flex {
  display: flex;
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.mb-25 {
  margin-bottom: 25px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.chart-container {
  position: relative;
  /* height: 400px; */
  width: 100%;
}
.returned-line-items,
.order-line-items {
  overflow-x: auto;
  padding-bottom: 15px;
}
.f-table {
  width: 100%;
  border-spacing: 0;
}
.f-table > thead > tr > th {
  vertical-align: top;
  font-weight: 400;
  color: rgba(32, 34, 35, 1);
  border-bottom: 0.1rem solid rgba(140, 145, 150, 1);
  border-top: 0;
  padding: 1.6rem;
  text-align: left;
  white-space: nowrap;
}
.f-table > tbody > tr > td,
.f-table > tfoot > tr > td,
.f-table > tfoot > tr > th {
  vertical-align: middle;
  padding: 1.6rem;
  text-align: left;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.frfi-card {
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.05),
    0px 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  outline: 0.1rem solid transparent;
  padding: 2rem;
  min-width: 260px;
  cursor: pointer;
}
.frfi-card:hover {
  box-shadow: 0 4px 6px -6px #000;
  transition: all ease-in 250ms;
}
.Polaris-Heading > :not(.badge-left) > .Polaris-Badge {
  float: right;
}
.info-card {
  background-color: #a4e8f2;
}
.warning-card {
  background-color: #ffee93;
}
.success-card {
  background-color: #aee9d1;
}
.danger-card {
  background-color: rgba(254, 211, 209, 1);
}
.Polaris-TextField--multiline > textarea.Polaris-TextField__Input {
  overflow: hidden !important;
}
.Polaris-DropZone--sizeSmall {
  width: 65px;
}
.skeleton-home > div {
  width: 20%;
  margin-bottom: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.divider {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  margin: 15px 0px;
}
#code-static {
  max-height: 150px !important;
  overflow: hidden !important;
}
#code-edit {
  max-height: 400px !important;
  overflow: auto !important;
}
#email-style-code {
  max-height: 150px !important;
  overflow: hidden !important;
}
#email-style-code-edit {
  max-height: 400px !important;
  overflow: auto !important;
}
#text_400 {
  max-height: 400px !important;
  overflow: auto !important;
}
.p-x {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.loading-modal button.Polaris-Modal-CloseButton {
  display: none !important;
}

.text-secondary {
  color: rgba(109, 113, 117, 1);
}

.inline-icon > span.Polaris-Icon {
  display: inline;
}
.badge-count {
  display: inline-flex;
  align-items: center;
  padding: 0.3rem 0.8rem;
  background-color: #fff;
  border: var(--p-override-zero);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: normal;
  color: var(--p-text);
  font-weight: 500;
}
.reactour__close {
  top: 15px !important;
  right: 15px !important;
}
.liquid-help > .Polaris-Banner > .Polaris-Banner__Dismiss {
  display: none;
}
.mail-variables {
  max-height: 420px;
  overflow-y: auto;
}
.no-wrap {
  white-space: nowrap;
}
.margin-bl-10 {
  margin: 0px 10px 10px 0px;
}
.return-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.return-image-container {
  flex-wrap: wrap;
  justify-content: start;
}
.return-image-container > .return-image-div {
  margin: 0px 13px 15px 0px;
}
.Polaris-ResourceList .Polaris-Stack--distributionFill > .Polaris-Stack__Item {
  flex: 1 1;
}
@media only screen and (max-width: 540px) {
  #return-counts .Polaris-Stack--distributionEqualSpacing {
    flex-direction: column;
  }
  #bannerTop {
    padding: 0 !important;
  }
  .Polaris-ResourceList
    .Polaris-Stack--distributionFill
    > .Polaris-Stack__Item {
    flex: 1 1 auto;
  }
}
@media (min-width: 36.875em) {
  .card_sec_desc_list .Polaris-DescriptionList__Term {
    flex: 0 1 45%;
  }

  .variable_list .Polaris-DescriptionList__Term {
    flex: 0 1 48%;
  }
  .justify_between_list .Polaris-DescriptionList__Term {
    flex: 51%;
  }
  .justify_between_list .Polaris-DescriptionList__Description {
    flex: 0;
  }
}
.returnList--filter {
  top: 0px;
  z-index: 100;
  background: white;
}
.returnList--header {
  border-bottom: 1px solid rgba(225, 227, 229, 1);
  top: -1px;
  z-index: 100;
}
.returnList--header .Polaris-Stack__Item:first-child {
  max-width: 20px;
}
.d-none {
  display: none;
}
