<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!{% endblock %}
			|
			{{ app_name }}</title>
		<link rel="icon" href="{{ asset('easy-returns-fevicon.png') }}" type="image/gif">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="root"></div>
		{% endblock %}
		{% block script %}
			<script>
				var shop = "{{ shop }}";
				var host = "{{ host }}";
				var setup = {% if setup is defined %} {{ setup }} {% else %} 0 {% endif %};
			</script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
