{% extends 'front_base.html.twig' %}
{% block title %}FAQ {% endblock %}

{% block body %}
    {% include 'page_header.html.twig' %}
    <section class="margin-top-100  section-top-border" style="background: none;">
        <div class="container px-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="faq-list-section">
                        {% if faq_answers is defined %}
                            <div class="text-left mb-4 pl-2">
                                <h2>FAQ's</h2>
                                <p class="small text-secondary">Answers of some commonly asked questions, if you may have any?</p>
                            </div>
                            <div class="faq-list">
                                {% for faq_answer in faq_answers %}
                                    <div class="f-ques">
                                        <a href="{{ path('faq_page', {'id': faq_answer.id}) }}" class="nav-link">{{ faq_answer.question }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="">
                                <a href="{{ path('faq_page') }}" class="btn btn-link"> << FAQ's</a>
                            </div>
                            
                            <div class="f-ques">
                                <h3>{{ faq_answer.question }}</h3>
                            </div>
                            <div class="mt-3 p-3 bg-white faq-answer" style="border-top: 1px solid #f8f9fa">
                                {{ faq_answer.answer|raw }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="my-3 text-center p-4 bg-light">
                        <div class="h4">If you have any question, Please <a href="{{ path('landing_page') }}#contactus-section">Contact us</a>.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'page_footer.html.twig' %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        $(".navbar-nav a[href^='#']").click(function(e) {
            var id = $(this).attr('href');

            $('html, body').animate({
                scrollTop: ($(id).offset().top)-100
            }, 2050);
        });
    </script>
{% endblock %}