{% extends 'front_base.html.twig' %}
{% block title %}Landing Page{% endblock %}

{% block body %}
    {% include 'page_header.html.twig' %}
    {# section home #}
    <section class="home-section" id="home">
		<div class="container">
	        <div class="row">
	            <div class="col-md-6 padding-top-30">

	          		<h1>Manage all your customers returns with Lyzer Easy Returns</h1>
	          		<h4 class="white-text" style="color: #f9d324;">Lyzer Easy Returns - No 1 Return App for Shopify</h4>

	          		<p>Start using app today for your online store and allow customers to return order very easily from my account page. Customers can easily track return status from my account section.</p>

                    <!--begin benefits -->
                    <ul class="home-benefits">
                        <li><i class="far fa-check-circle"></i>Wonderful return experience.</li>
                        <li><i class="far fa-check-circle"></i>Gain trust by using 30 days free trial.</li>
                        <li><i class="far fa-check-circle"></i>Growth your sales by great return experience.</li>
                    </ul>
                    <!--end benefits -->

                    <a href="https://apps.shopify.com/easy-returns-cod-and-prepaid" target="_blank" class="btn-white scrool">Start Your Free Trial</a>

	            </div>
	       
	            <div class="col-md-6">
                    <img src="{{ asset('images/lp/Top Banner.png') }}" class="width-100 hero-images" alt="pic">
	            </div>
	        </div>
		</div>
    </section>
    {# section about #}
    <section class="section-white section-top-border" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title">Powerful Return App for your Shopify Store</h2>
                    <p class="section-subtitle">Surprise more customers with a splendid returns experience</p>
                </div>
            </div>
        </div>
        <div class="services-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="main-services" data-aos="fade-up">
                            <img src="{{ asset('images/lp/easy_setup.jpg') }}" alt="pic">
                            <h3>Easy Setup</h3>
                            <p>Fast &amp; easy set up. Instant chat support. Configure settings and preview templates and mails.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-services" data-aos="fade-up">
                            <img src="{{ asset('images/lp/delighted_customers.svg') }}" alt="pic">
                            <h3>Delighted Customers</h3>
                            <p>Easy and seamless return process delights your customers, and they will come back to buy more.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-services" data-aos="fade-up">
                            <img src="{{ asset('images/lp/customizable_code.svg') }}" alt="pic">
                            <h3>Completely Customizable</h3>
                            <p>Access of codes to make changes and design according to your brand or ask for customization.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# sextion install app #}
    <section class="section-blue small-paddings animate__animated animate__bounce" id="quick-install-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-top-50 padding-bottom-20 white-text">
                    <h3 class="white-text">Let's Try It Out</h3>
                    <p class="white-text">Please enter your store myshopify url to get started</p>
                </div>
                <div class="col-md-12 padding-bottom-40">
                    <div class="quick_install_form_wrapper" data-wow-delay="0.25s">
                        <div class="quick_install_form_box">
                            <form id="quick-install-form" class="quick-install-form" method="post">
                                <input id="myshopify_domain" type="text" name="myshopify_domain" placeholder="shop.myshopify.com">  
                                <input type="button" class="disabled" disabled value="INSTALL APP" id="install-app-btn">
                            </form>
                            <div class="d-none text-dark p-1 mt-3" id="notify"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section features -1 #}
    <section class="section-grey section-top-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin-top-20">
                    <h3>Get Started Today</h3>
                    <p class="margin-bottom-40">App that looks great in your online store. Provides your customers a wonderful return experience.</p>
                    <div class="nav flex-column nav-pills margin-right-25" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            <div class="features-second">
                                <div class="dropcaps-circle"><i class="fas fa-chart-line"></i></div>
                                <h4 class="margin-bottom-5">Ready To Go App.</h4>
                                <p>We almost done everything for you. but if you have something in your mind then you can go.</p>
                            </div>
                        </a>

                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                            <div class="features-second">
                                <div class="dropcaps-circle"><i class="fas fa-network-wired"></i></div>
                                <h4 class="margin-bottom-5">Customize Return Center Page.</h4>
                                <p>Offers your guest users to return order through return center page.</p>
                            </div>
                        </a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                            <div class="features-second">
                                <div class="dropcaps-circle"><i class="fas fa-rocket"></i></div>
                                <h4 class="margin-bottom-5">Analyze The Returns Behaviour</h4>
                                <p>Analyze customers by region, discounts and more and put a plan in place.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-content margin-left-20 margin-top-100" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" data-aos="zoom-in" aria-labelledby="v-pills-home-tab">
                            <img src="{{ asset('images/lp/Mobile1.png') }}" class="width-100" alt="pic">
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" data-aos="zoom-in" aria-labelledby="v-pills-profile-tab"> 
                            <img src="{{ asset('images/lp/Mobile2.png') }}" class="width-100" alt="pic">
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" data-aos="zoom-in" aria-labelledby="v-pills-messages-tab">
                            <img src="{{ asset('images/lp/Mobile3.png') }}" class="width-100" alt="pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section get started #}
    <section class="section-blue get_started" id="get_started">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-bottom-10">
                    <h3 class="section-title white-text">Ready to win your customers trust by Easy Returns?</h3>
                    <p class="section-subtitle white margin-bottom-30">Provides the return as big brands do.</p>
                    <a href="https://apps.shopify.com/easy-returns-cod-and-prepaid" target="blank" class="btn-white scrool margin-right-15">Get Started</a>
                    <a href="#contactus-section" class="btn-white-border scrool">Request Demo</a>
                </div>
            </div>
        </div>
    </section>
    {# section amazing features  #}
    <section class="section-grey section-bottom-border" id="amazing-features-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-bottom-10">
                    <h2 class="section-title">Amazing Features</h2>
                    <p class="section-subtitle">Let's talk about some distinguish features of the Return App</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                        <i class="fa fa-tachometer-alt"></i>
                        <h4>Powerful Dashboard</h4>
                        <p>Manage all your customer's returns from single dashboard.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                        <i class="fa fa-chart-line"></i>
                        <h4>Return or Exchange</h4>
                        <p>Now Customers can either return or exchange their order items.</p>
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;">
                        <i class="fa fa-bell"></i>
                        <h4>Return Reasons</h4>
                        <p>Manage return reasons for your products. Add new reasons for return products.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                        <i class="fa fa-hand-holding-usd"></i>
                        <h4>Track Return Request</h4>
                        <p>Customers can easily create and track returns from their account.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="1.25s" style="visibility: visible; animation-delay: 1.25s; animation-name: fadeIn;">
                        <i class="fa fa-rocket"></i>
                        <h4>COD Orders</h4>
                        <p>Provides a choice of payment options to your customers for refund their amount.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-aos="fade-up" data-aos-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeIn;">
                        <i class="fab fa-rocketchat"></i>
                        <h4>Automatic Notifications</h4>
                        <p>Update return status and send emails to your customers automatically.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section features #}
    <section class="bg-white section-bottom-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6 padding-top-60">
                    <h3>Why should I use Lyzer Easy Returns App?</h3>
                    <p>Improving the return experience, gives customer the confidence to buy and keeps them coming back. With our easily configurable and in-store return page, customer feels convenient.</p>
                </div>
                <div class="col-md-6">
                    <div class="padding-top-30 padding-bottom-40 img-zoom" data-aos="fade-up">
                        <img src="{{ asset('images/lp/return-order-page-design.png') }}" class="img width-130" alt="pic">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# pricing #}
    <section class="section-white section-top-border" id="pricing-section" style="padding-bottom: 0px" data-aos="fade-down">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-bottom-40">
                    <h2 class="section-title">Pricing for every business, at any stage</h2>
                    <p class="section-subtitle">Everything under SEED Plan, No extra charges for pro features.</p>
                </div>
            </div>
        </div>

        <div class="pricing-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 m-auto">
                        <div class="price-box">
                            <ul class="pricing-list">
                                <li class="price-title">SEED PLAN</li>
                                <li class="price-value">$9</li>
                                <li class="price-subtitle">Per Month</li>
                                <li class="price-text"><i class="fa fa-check blue"></i>Integrated customer return order page.</li>
                                <li class="price-text"><i class="fa fa-check blue"></i>Export return order data by SKU.</li>
                                <li class="price-text"><i class="fa fa-check blue"></i>Unlimited orders return</li>
                                <li class="price-text"><i class="fa fa-check blue"></i>Analytics</li>
                                <li class="price-tag-line blue">FREE 30-DAY TRIAL</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# section faq #}
    <section class="section-white section-bottom-border" id="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center padding-bottom-10">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                    <p class="section-subtitle">Answers of some commonly asked questions, if you may have any?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="faq-box">
                        <h5>From where am I get Lyzer Easy Returns app for my Shopify store?</h5>
                        <p>You can install our Lyzer Easy Returns from <a href="#quick-install-section">here</a>. or You can also get Easy Return app from <a href="https://apps.shopify.com/easy-returns-cod-and-prepaid">shopify app store.</a></p>
                    </div>
                    <div class="faq-box">
                        <h5>Does Lyzer Easy Returns have a free plan?</h5>
                        <p>Yes, Lyzer Easy Returns offer 30 days free trial, and after that a $9/month recurring charge.</p>
                    </div>
                    <div class="faq-box">
                        <h5>How can I contact you for any customization or query regarding easy returns app?</h5>
                        <p>You can contact us for any customization or query related to Lyzer Easy Returns app from <a href="#contactus-section">here</a>.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="faq-box">
                        <h5>Can guest user create a return request of a order?</h5>
                        <p>Yes, Guest user can easily return a order from Return center page by entering email address/phone number and order number.</p>
                    </div>

                    <div class="faq-box">
                        <h5>Do I get limited features in trial period?</h5>
                        <p>Nope, All app features are free to use in 30 days free trial. Charges will be applied after 30 days.</p>
                    </div>

                    <div class="faq-box">
                        <h5>What are payment options that you offer for a COD orders return?</h5>
                        <p>You can allow your customers to choose from Bank details, UPI ID and wallet details for refund their order amount.</p>
                    </div>
                </div>
            </div>
            <!--end row -->

            <div class="col-md-12 text-center padding-bottom-10">
                <a href="{{ path('faq_page') }}" class="btn btn-link">List of All Frequently Asked Questions</a>
            </div>

        </div>
        <!--end container -->

    </section>
    {# section contact us #}
    <section class="section-white section-top-border" id="contactus-section">
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-6" data-aos="zoom-in">
                    <img src="{{ asset('images/lp/undraw_contact_us_15o2.svg') }}" class="w-100" />
                </div>
                <div class="col-md-6" data-aos="fade-up">
                    <div class="small-col-inside">
                        <h3 class="margin-bottom-5">Get in touch</h3>
                        <p>Feel free to ask in case of any doubts, have one?</p>
                        <div id="contact-us-form-container">
                            <form class="form" method="POST" action="{{ path('contact-us') }}" id="contact-form" autocomplete="on">
                                <input class="contact-input white-input" required="" name="full_name" placeholder="Full Name*" type="text">
                                <input class="contact-input white-input" required="" name="contact_email" placeholder="Contact Email*" type="email">
                                <input class="contact-input white-input" name="subject" placeholder="Subject" type="text">
                                <textarea class="contact-commnent white-input" rows="2" cols="20" name="message" placeholder="Your Message..."></textarea>
                                <input value="Send Message" id="contact-form-btn" class="contact-submit" type="submit">
                            </form>
                        </div>
                        <div class="d-none text-danger p-3 mt-3 bg-light" id="err-msg"></div>
                        <div class="p-4 rounded bg-success mr-3 d-none" id="contact-us-form-submitted">
                            <div class='text-center'>
                                <div class='mb-2'>
                                    <img class="mx-auto d-block" src='https://img.icons8.com/emoji/96/000000/check-mark-emoji.png' width="40px"/>
                                </div>
                                <h3 class='white-text'>Thank You For Writing to Us.</h3>
                                <p class='white-text'>We got your request and within 2 business days, we will get in touch.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {% include 'page_footer.html.twig' %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        $(".navbar-nav a[href^='#']").click(function(e) {
            var id = $(this).attr('href');

            $('html, body').animate({
                scrollTop: ($(id).offset().top)-100
            }, 2050);
        });

        ErrorMsg = (msg) => {
            if(msg == '') return null;
            $("#notify").removeClass('d-none').html(`${msg}`);
        };

        $("#myshopify_domain").on('input', function(){
            let myshopify_domain = $(this).val();

            if(myshopify_domain == '') {
                $("#install-app-btn").attr('disabled', 'disabled').addClass('disabled');
                $("#notify").addClass('d-none').html(``);
            }
            else {
                $("#install-app-btn").removeAttr('disabled').removeClass('disabled');
            }
        })

        $( "#myshopify_domain" ).on( "keydown", function(e) {
            if(e.which == 13) {
                e.preventDefault()
                installAppBtn();
            } 
        });

        $("#install-app-btn").click(function(){
            installAppBtn();
        })

        const installAppBtn = () => {
            var myshopify_domain = $("#myshopify_domain").val();
            myshopify_domain = myshopify_domain.trim();
            let msg = '';
            var myshopify_regex = /^[a-zA-Z0-9][a-zA-Z0-9\-]*\.myshopify\.com$/;
            $("#notify").addClass('d-none').html(``);

            if(myshopify_domain == '') {
                msg = 'Shop name is required';
            }
            else if(!myshopify_regex.test(myshopify_domain)) {
                msg = 'Shop name is invalid';
            }

            if(msg == '')
                window.location.href = '?shop='+myshopify_domain;
            else
                ErrorMsg(msg);
        }

        $("#contact-form").on('submit', function(e){
            e.preventDefault();

            var form_data = $(this).serialize();
            form_data += "&created_at="+ new Date();

            var full_name = $("#full_name").val();
            var contact_email = $("#contact_email").val();
            var message = $("#message").val();

            $("#contact-form-btn").addClass('disabled').attr('disabled', 'disabled').val('Sending...');
            $("#err-msg").addClass('d-none').html('');

            $.ajax({
                'url': $(this).attr('action'),
                'type': 'POST',
                'data': form_data,
                'success': function(data) {
                    data = JSON.parse(data);
                    const error = data.error || ''
                    const notice = data.notice || ''

                    if(error !== '') {
                        $("#err-msg").removeClass('d-none').html(error);
                    }
                    else if(notice !== '') {
                        $("#contact-us-form-container").addClass('d-none');
                        $("#contact-us-form-submitted").removeClass('d-none');
                    }
                },
                'error': function(xhr, data) {
                    $("#err-msg").removeClass('d-none').html('Something went wrong');
                },
                'complete': function() {
                    $("#contact-form-btn").removeClass('disabled').attr('disabled', false).val('Send Message');
                }
            })
        })
    </script>
{% endblock %}