<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-footer">
                <div class="text-center p-3 text-dark mt-2" style="z-index: 100;">
                    All right reserved under Lyzer.io, &copy; 2021
                </div>
            </div>
        </div>
    </div>
</div>