<nav class="navbar navbar-expand-lg justify-content-between fixed-top page-header bg-white" style="z-index: 10000;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('landing_page') }}">
            <img src="{{ asset('easy-returns-without-text.png') }}" width="65px" height="auto" />
        </a>

        <span class="btn-toggle d-lg-none" onclick="openNav()">
            <span class="toggle-inner">
                <span class="toggle-icon">
                    <svg class="svg-icon" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" width="26" height="7" viewBox="0 0 26 7"><path fill-rule="evenodd" d="M332.5,45 C330.567003,45 329,43.4329966 329,41.5 C329,39.5670034 330.567003,38 332.5,38 C334.432997,38 336,39.5670034 336,41.5 C336,43.4329966 334.432997,45 332.5,45 Z M342,45 C340.067003,45 338.5,43.4329966 338.5,41.5 C338.5,39.5670034 340.067003,38 342,38 C343.932997,38 345.5,39.5670034 345.5,41.5 C345.5,43.4329966 343.932997,45 342,45 Z M351.5,45 C349.567003,45 348,43.4329966 348,41.5 C348,39.5670034 349.567003,38 351.5,38 C353.432997,38 355,39.5670034 355,41.5 C355,43.4329966 353.432997,45 351.5,45 Z" transform="translate(-329 -38)"></path></svg>
                </span>
            </span>
        </span>
        
        <div class="collapse navbar-collapse justify-content-end mr-5" id="nav-options">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{{ path('landing_page') }}" class="nav-link">Home</a></li>
                {% if app.request.get('_route') != 'faq_page' %}
                    <li class="nav-item"><a href="#amazing-features-section" class="nav-link">Features</a></li>
                    <li class="nav-item"><a href="#pricing-section" class="nav-link">Pricing</a></li>
                    <li class="nav-item"><a href="#contactus-section" class="nav-link">Contact Us</a></li>
                {% endif %}
                <li class="nav-item"><a href="#faq-section" class="nav-link">FAQ</a></li>
            </ul>
            <div class="ml-3">
                <a href="https://apps.shopify.com/easy-returns-cod-and-prepaid" target="_blank" class="btn try-for-free-btn">TRY FOR FREE</a>
            </div>
        </div>
    </div>
</nav>
<div id="myNav" class="overlay">
    <button type="button" class="closebtn btn-toggle text-danger" onclick="closeNav()"><i class="far fa-2x fa-times-circle"></i></button>
    <div class="overlay-content">
        <ul class="nav flex-column">
            <li class="nav-item"><a href="{{ path('landing_page') }}" class="nav-link">Home</a></li>
            {% if app.request.get('_route') != 'faq_page' %}
                <li class="nav-item"><a href="#amazing-features-section" class="nav-link" onclick="closeNav()">Features</a></li>
                <li class="nav-item"><a href="#pricing-section" class="nav-link" onclick="closeNav()">Pricing</a></li>
                <li class="nav-item"><a href="#contactus-section" class="nav-link" onclick="closeNav()">Contact Us</a></li>
                <li class="nav-item"><a href="#faq-section" class="nav-link" onclick="closeNav()">FAQ</a></li>
            {% endif %}
        </ul>
    </div>
</div>