{% extends 'front_base.html.twig' %}
{% block title %}App Privacy Policy{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="col-8 mx-auto py-3">
        <h3>Privacy Policy</h3>
        <div class="border border-secondary p-3 mt-5">
        <p>Lyzer Easy Returns "the App” provides Returns Management "the Service" to merchants who use Shopify to power their stores. This Privacy Policy describes how personal information is collected, used, and shared when you install or use the App in connection with your Shopify-supported store.</p>
        <p><b>Personal Information the App Collects</b></p>
        <p>When you install the App, we are automatically able to access certain types of information from your Shopify account: Order information for the purpose of processing a return. Email, product details.</p>
        <p>Additionally, we collect the following types of personal information from you and/or your customers once you have installed the App: Name, Email & Phone number.</p>
        <p>We collect personal information directly from the relevant individual, through your Shopify account, or using the following technologies: “Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.</p>
        <p><b>How Do We Use Your Personal Information?</b></p>
        <p>We use the personal information we collect from you and your customers in order to provide the Service and to operate the App. Additionally, we use this personal information to: Communicate with you.</p>

        <p><b>Sharing Your Personal Information</b></p>
        <p>Finally, we may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our rights.</p>
        <p>Your Rights If you are a European resident, you have the right to access personal information we hold about you and to ask that your personal information be corrected, updated, or deleted. If you would like to exercise this right, please contact us through the contact information below.<br>Additionally, if you are a European resident we note that we are processing your information in order to fulfil contracts we might have with you (for example if you make an order through the Site), or otherwise to pursue our legitimate business interests listed above. <br>Data Retention When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.<br>Changes We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.<br></p>

        <p>Contact Us For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e-mail at easy-returns@lyzer.io or by mail using the details provided below:</p>
        <address>Lyzer limited, B113, Sector 67, Noida 201301</address>
        </div>
    </div>
    {% include 'page_footer.html.twig' %}
{% endblock %}