{% extends 'base.html.twig' %}
{% block title %}Landing Page{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}
   
{% endblock %}

{% block script %}

    <script>
        window.top.location.href = "{{ confirmation_url }}";
    </script>
{% endblock %}