<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Preview Images #{{ return_id }}{% endblock %} | {{ app_name }}</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <link rel="icon" href="{{ asset('easy-returns-fevicon.png') }}" type="image/gif" >
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/external.css') }}">
        {% endblock %}

        {% block javascripts %}{% endblock %}

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block header %}
            <div class="" style="position: fixed; top: 6px; left: 6px; z-index: 100;">
                <span class=""><img src="{{ asset('easy-returns-without-text.png') }}" width="45px" height="auto" /></span>
            </div>
        {% endblock %}
        {% block body %}
            {% if error is defined and error is not same as('') %}
                <div class="text-center p-3 text-center">
                    <p class="text-danger">{{ error }}</p>
                </div>
            {% elseif return_images is empty %}
                <div class="text-center p-3 text-center">
                    <p class="text-danger">No image found</p>
                </div>
            {% else %}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in return_images %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{% if image.id == image_id %}active{% endif %}">
                                <div class="img-preview" style="background-image: url('{{ host }}uploads/returnImages/{{ image.name }}')">
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in return_images %}
                            <div class="carousel-item {% if image.id == image_id %}active{% endif %}">
                                <img class="d-block w-100" src="{{ host }}uploads/returnImages/{{ image.name }}" alt="{{ image.original_name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <div class="nav-button"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <div class="nav-button"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div>
                    
                </div>
            {% endif %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block script %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script>
                $(document).ready(()=> {
                    $('.carousel').carousel({
                        interval: false
                    })
                })
            </script>
        {% endblock %}
    </body>
</html>
