{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<p>We had received a request for data of customer ({{ email }}).</p>
{% if customer_details %}
    <p>We are working on your request and will shortly send you data of that customer.</p>
{% else %}
    <p>Sorry, But we did not find any data associated to this customer in our database.</p>
{% endif %}
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}