{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<p>We processed your data request of the customer ({{ email }}).</p>
<p>Please find the below attached file.</p> 
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}