{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<p>We had received a request regarding deletion of a customer ({{ email }}) data.</p>
<p>We are confirming that the customer personal details like (Name, Email and Phone) is deleted from our side.</p>
<p>For any other query, Please reply on this email.</p>
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}