{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<p>We had received a request regarding deletion of data of shop {{ shop }}.</p>
<p>Please reply on this email for confirm this deletion request.</p> 
<p class="text-danger">Once you confirmed this request, then your shop data will be permanently deleted from our side.</p7>
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}