{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<div class="mail-greeting">
    <p>We did receive a notification that you have uninstalled our app "Lyzer Easy Returns" from shop {{ shop }}, it would help us a LOT to know the reason for this.</p>
    
    <p><b>Please give your valuable feedback by replying on this mail</b>, so that we can overcome any issues or bugs you noticed.</p>
    <p>If you have any suggesstion for us, please mention that too.</p>
    <p>Our team is always ready to listen your feedback and improves our services for all our customers.</p>
</div>
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}