<!DOCTYPE HTML>
<html>
<head>
    <style>
        .mail-header{
            background-color: #ffff;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 10px;
            }
        .mail-body *{
            color: black !important;
            font-size: 16px !important;
        }
        .table{
            width: 100%;
            border: 1px solid #e6e6e6;
        }
        .table > thead > tr > th, .table > tbody > tr > td {
            padding: 5px;
        }
        .table > tbody > tr > td {
            border-top: 1px solid #e6e6e6;
        }
        .text-right{
            text-align: right !important;
        }
        .text-left{
            text-align: left !important;
        }
        .text-center{
            text-align: center !important;
        }
        .italic{
            font-style: italic;
        }
        .text-danger{
            color: #d72c0d !important;
        }
        .bg-danger{
            color: #fed3d1 !important;
        }
    </style>
</head>
<body>
    <div class="mail-header">
        <div>
            <img src="{{ absolute_url(asset('lyzer.png')) }}" width="auto" height="65px" />
        </div>
    </div>
    <div class="mail-body">
        <h4>Hello Admin</h4>
        <p>Please check this new support query. Customer raise this query at <span class="italic">{{ date }}</span>.</p>
        <p>Please reply to this customer asap. Customer details are given below.</p>
        <table class="table"><tbody><tr><th>Full Name</th><td> {{ full_name|capitalize }}</td></tr><tr><th>Contact Email</th><td> {{ contact_email }} </td></tr></tbody></table>
        
        <div>
            <p><b>Subject:</b> {{ subject }}</p>
            <p>{{ message }}</p>
        </div>
    <div>
    <br>
    <div class="mail-footer">
        <p class="text-danger">Please Do Not Reply On This Mail.</p>
    </div>
</body>
</html>