{% for attachment in attachments %}
    <div>
        <img src="{{ absolute_url(asset('uploads/attachments/'~attachment.name)) }}" alt={{attachment.original_name}} width="100%" />
    </div>
{% endfor %}