<!DOCTYPE HTML>
<html>
<head>
    <style>
        .mail-header{
            background-color: #ffff;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 10px;
            }
        .mail-body *{
            color: black !important;
            font-size: 16px !important;
        }
        .table{
            width: 100%;
            border: 1px solid #e6e6e6;
        }
        .table > thead > tr > th, .table > tbody > tr > td {
            padding: 5px;
        }
        .table > tbody > tr > td {
            border-top: 1px solid #e6e6e6;
        }
        .text-right{
            text-align: right !important;
        }
        .text-left{
            text-align: left !important;
        }
        .text-center{
            text-align: center !important;
        }
        .italic{
            font-style: italic;
        }
        .text-danger{
            color: #d72c0d !important;
        }
        .bg-danger{
            color: #fed3d1 !important;
        }
        .replyto{
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }
        .replyto *{
            color: #99036b !important;
        }
        .pt-20{
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="mail-header">
        <div>
            <img src="{{ absolute_url(asset('easy-returns65x65.jpg')) }}" width="auto" height="65px" />
        </div>
    </div>
    <div class="mail-body">
        <div class="mail-greeting">
            <h4>Hello {{ name|capitalize }}</h4>
        </div>
        <div>
            <pre>{{ reply }}</pre>
        <div>
        <div class="pt-20">
            <h3>Thanks &amp; Regards</h3>
            <p>Easy Returns - COD and PREPAID</p>
        </div>
    </div>
    <div class="replyto">
        On {{ created_at|format_datetime() }}, You wrote:
        <p>{{ query }}</p>
    </div>
</body>
</html>