<table class="table">
    <thead>
        <tr class="thead">
            <th scope="col" style="width: 85px;">Image</th>
            <th class="text-left" colspan="2">Name</th>
            <th class="text-left">Sku</th>
            <th class="text-left" scope="col">Price</th>
            <th class="text-right" scope="col">Return Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for line_item in return_line_items %}
            {% set img_src = line_item.image_url %}
            {% if not img_src %}
                {% if consolePath is defined and consolePath == true %}
                    {% set img_src = host_absolute_url ~ asset('no-image.gif') %}
                {% else %}
                    {% set img_src = absolute_url(asset('no-image.gif')) %}
                {% endif %}
            {% endif %}
            <tr id="{{ line_item.id }}" class="return_product_detail">
                <td class="text-center"><img src="{{ img_src }}" width="55px" height="auto" /></td>
                <td colspan="2" class="text-left">{{ line_item.product_title }} {% if line_item.variant_title %}- {{ line_item.variant_title }}{% endif %}</td>
                <td class="text-left">{% if line_item.item_sku %}{{ line_item.item_sku }}{% else %}N/A{% endif %}</td>
                <td class="text-left">{{ money_format|preg_replace('/{{.*}}/', line_item.price)|raw }}</td>
                {# <td class="text-right">{{ line_item.quantity }}</td> #}
                <td class="text-right">{{ line_item.return_qty }}</td>
            </tr>
            <tr class="return_reason_row" style="background-color: #f5f5f5;">
                <th colspan="2" class="text-left"><b>Return Reason </b></th>
                <td colspan="4" class="text-left"> {{ line_item.return_reason }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>