{% include 'mail/app_mail_header.html.twig' %}
{% block body %}
<div class="mail-greeting">
    <p>You installed Lyzer Easy Returns app in your {{ shop }} shopify store. we are glad you fond our product useful for your business.</p>
    
    <p>Lyzer Easy Returns app is developed aiming a splendid customer return experience and to give a <b>Wow Experience!!</b>.</p>
    
    <p>We are always trying to make our products better and suitable for your business need by listening from you.</p>

    <p>We request you to give feedback for our application by replying this email and looking forward to having more successful years together.</p>

    <p>Mail us to <a href="mailto:easy-returns@lyzer.io">support mail</a> if you find any difficulty to set up this application with subject line 'App Setup Request'.</p>

    <p>Our team is always ready to help you with the installation of our application &amp; getting started with it.</p>
</div>
{% endblock %}
{% include 'mail/app_mail_footer.html.twig' %}